* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    

    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/***** H E A D E R *****/
header {
    margin: 50px 0;
    max-width: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
    width: 8rem;
}
nav a {
    text-decoration: none;
    font-size: 0.5rem;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    padding: 5px 25px;
    border-radius: 25px;
}
/***** H E A D E R  -END- *****/

/***** M A I N *****/
main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
}
main img {
    width: 5rem;
}
.container-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 35px;
}
.container-one h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.container-one p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.container-one a {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px auto;
}
.container-one img {
    width: 100%;
}
.container-two {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 0 35px;
}
.stats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.stats img {
    width: 2rem;
}
.stats strong {
    font-size: 3.5rem;
}
.stats p {
    text-align: center;
    font-size: 1rem;
    color: gainsboro;
}
.container-three {
    background-color: hsl(207, 100%, 98%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding: 50px 35px;
}
.container-three::before {
    content: url(../images/bg-section-top-mobile-1.svg);
    position: absolute;
    top: 0;
    transform: translateY(-90%);
    width: 100%;
    height: auto;
}
.container-three::after {
    content: url(../images/bg-section-bottom-mobile-1.svg);
    position: absolute;
    bottom: 0;
    transform: translateY(90%);
    width: 100%;
    height: auto;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.images img {
    width: 100%;
}
.text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.text p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.container-four {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 35px;
}
.container-five {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    padding: 50px 35px;
}
.container-five::before {
    content: url(../images/bg-section-top-mobile-2.svg);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-90%);
    width: 100%;
    height: auto;
}
.container-five::after {
    content: url(../images/bg-section-bottom-mobile-2.svg);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(90%);
    width: 100%;
    height: auto;
}
.end {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    padding: 0 35px;
}
.end h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.end a {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px auto;
}
/***** M A I N -END- *****/
/***** F O O T E R *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color: hsl(192, 100%, 9%);
    color: white;
    max-width: 70rem;
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
}
footer::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-40%);
    background: url(../images/bg-footer-top-mobile.svg) no-repeat;
    background-size: 100%;
    height: 100px;
}
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newsletter h3 {
    font-size: 1.2rem;
}
.newsletter p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
label {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#subscribe {
    width: 100%;
    padding: 15px;
    border: 1px solid hsl(192, 100%, 9%);
    border-radius: 5px;
    margin-bottom: 10px;
    grid-column: 1 / 3;
}
#subscribe-btn {
    width: 100%;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
    grid-column: 2 / 3;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.logo img {
    width: 15rem;
    background-color: white;
}
.logo p {
    font-size: 0.9rem;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icons p {
    font-size: 0.9rem;
}
.fa {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}
.fa a {
    color: white;
    text-decoration: none;
}