* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
/***** H E A D E R *****/
header {
    margin: 50px 0;
    max-width: 90rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
    width: 8rem;
}
nav a {
    text-decoration: none;
    font-size: 0.5rem;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    padding: 5px 25px;
    border-radius: 25px;
}
nav a:hover {
    border: 1px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
}
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 5rem;
    }
    header img {
        width: 10rem;
    }
    nav a {
        text-decoration: none;
        font-size: 0.9rem;
        color: hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
        padding: 5px 25px;
        border-radius: 25px;
    }
    
}
@media screen and (min-width: 1440px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 15rem;
    }
}
@media screen and (min-width: 1900px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 25vw;
        }
    }
/***** H E A D E R  -END- *****/

/***** M A I N *****/
main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
}
main img {
    width: 5rem;
}
.container-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 35px;
}
.container-one h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.container-one p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.container-one a {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px auto;
    box-shadow: 0px 10px 20px -16px rgba(0, 0, 0, 1);
}
.container-one a:hover {
    background-color: hsl(321, 100%, 78%);
}
.container-one img {
    width: 100%;
}
@media screen and (min-width: 1024px) {
    main {
        display: grid;
        place-items: center;
        gap: 12rem;
        margin: 0 auto;
    }
    .container-one {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 100px;
        margin: 0 auto;
    }
    .container-one h1 {
        font-size: 2rem;
    }
    .container-one p {
        font-size: 1rem;
        margin: 0 10rem
        
    }
    .container-one a {
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: white;
        background-color: hsl(322, 100%, 66%);
        padding: 15px 5vw;
        border-radius: 25px;
        margin: 15px auto;
    }
    .container-one img {
        margin: 50px auto;
        width: 50rem;
    }
}
@media screen and (min-width: 1440px) {
    main {
        display: grid;
        min-width: 100%;
    }
    .container-one p {
        margin: 0 23rem;
    }
}
@media screen and (min-width: 1800px) {
    .container-one {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 26vw;
        margin: 0 auto;
    }
    .container-one img {
        margin: 50px auto;
        width: 100%;
    }
}
.container-two {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 0 35px;
}
.stats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.stats img {
    width: 2rem;
}
.stats strong {
    font-size: 3.5rem;
}
.stats p {
    text-align: center;
    font-size: 1rem;
    color: gainsboro;
}
@media screen and (min-width: 768px) {
    .container-two {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20rem;
    }
}
.container-three {
    background-color: hsl(207, 100%, 98%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding: 0 35px;
}
.container-three::before {
    content: url(../images/bg-section-top-mobile-1.svg);
    position: absolute;
    top: 0;
    transform: translateY(-90%);
    width: 100%;
    height: auto;
}
.container-three::after {
    content: url(../images/bg-section-bottom-mobile-1.svg);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: auto;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.images img {
    width: 100%;
}
.text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.text p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .text {
        text-align: left;
        line-height: 0.5rem;
    }
    .container-three {
        display: flex;
        flex-direction: row;
        padding: 0 10vw;
        gap: 5rem;
    }
    .container-three::before {
        content: url(../images/bg-section-top-desktop-1.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-three::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
    
}
@media screen and (min-width: 1440px) {
    .container-three {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        gap: 3rem;
    }
    .text {
        text-align: left;
        line-height: 0.5rem;
    }
    .container-three {
        display: flex;
        flex-direction: row;
        padding: 0 20vw;
        gap: 5rem;
    }
    .container-three::before {
        content: url(../images/bg-section-top-desktop-1.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-three::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1800px) {
    .images img {
        width: 100%;
    }
    .text {
        text-align: left;
        gap: 2rem;
    }
    .text h2 {
        font-size: 2rem;
    }
    .text p {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .container-three {
        display: flex;
        flex-direction: row;
        padding: 0 25vw;
        gap: 5rem;
    }
    .container-three::before {
        content: url(../images/bg-section-top-desktop-1.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-three::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
}
.container-four {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 35px;
    z-index: 1;
}
@media screen and (min-width: 1024px) {
    .container-four {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 10vw;
        gap: 5rem;
    }
}
@media screen and (min-width: 1440px) {
    .container-four {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 20vw;
        gap: 5rem;
    }
}
@media screen and (min-width: 1800px) {
    .container-four {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 25vw;
        gap: 5rem;
    }
}
.container-five {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    padding: 0 35px;
}
.container-five::before {
    content: url(../images/bg-section-top-mobile-2.svg);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-95%);
    width: 100%;
    height: auto;
}
.container-five::after {
    content: url(../images/bg-section-bottom-mobile-2.svg);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: auto;
}
@media screen and (min-width: 1024px) {
    .container-five {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10vw;
        gap: 5rem;
    }
    .container-five::before {
        content: url(../images/bg-section-top-desktop-2.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-five::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1440px) {
    .container-five {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20vw;
        gap: 5rem;
    }
    .container-five::before {
        content: url(../images/bg-section-top-desktop-2.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-five::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1800px) {
    .container-five {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 25vw;
        gap: 5rem;
    }
    .container-five::before {
        content: url(../images/bg-section-top-desktop-2.svg);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: auto;
    }
    .container-five::after {
        content: url(../images/bg-section-bottom-desktop-1.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 100%;
        height: auto;
    }
}
.end {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    padding: 0 35px;
}
.end h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.end a {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px auto;
    box-shadow: 0px 10px 20px -16px rgba(0, 0, 0, 1);
}
.end a:hover {
    background-color: hsl(321, 100%, 78%);
}
@media screen and (min-width: 1000px) {
    .end h2 {
        font-size: 2.5rem;
    }
    .end a {
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: white;
        background-color: hsl(322, 100%, 66%);
        padding: 15px 5vw;
        border-radius: 25px;
        margin: 15px auto;
    }
}
/***** M A I N -END- *****/
/***** F O O T E R *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color: hsl(192, 100%, 9%);
    color: white;
    max-width: 90rem;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
}
footer::before {
    content: url(../images/bg-footer-top-mobile.svg);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newsletter h3 {
    font-size: 1.2rem;
}
.newsletter p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
label {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#subscribe {
    width: 100%;
    padding: 15px;
    border: 1px solid hsl(192, 100%, 9%);
    border-radius: 5px;
    margin-bottom: 10px;
    grid-column: 1 / 3;
}
#subscribe-btn {
    width: 100%;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
    grid-column: 2 / 3;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-logo {
    width: 12rem;
}
.footer-logo path {
    fill: white;
}
.logo p {
    font-size: 0.9rem;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icons p {
    font-size: 0.9rem;
}
.fa {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}
.fa a {
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 1000px) {
    footer {
        margin-top: 15rem;
        padding: 50px 13vw;
        display: grid;
        flex-direction: column;
        justify-content: space-around;
        grid-template-areas: 
            'huddle newsletter'
            'icon .';
    }
    .information {
        grid-area: huddle;
    }
    .newsletter {
        grid-area: newsletter;
    }
    footer::before {
        content: url(../images/bg-footer-top-desktop.svg);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-95%);
    }
}
@media screen and (min-width: 1450px) {
    footer {
        min-width: 100%;
        margin-top: 15rem ;
        margin-right: auto;
        margin-left: auto;
        padding: 50px 25vw;
        display: grid;
        flex-direction: column;
        justify-content: space-around;
        grid-template-areas: 
            'huddle newsletter'
            'icon .';
    }
    .information {
        grid-area: huddle;
    }
    .newsletter {
        grid-area: newsletter;
    }
    footer::before {
        content: url(../images/bg-footer-top-desktop.svg);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-95%);
    }
}
/***** F O O T E R -END- *****/