* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/** HEADER **/
header {
    display: flex;
    margin: 50px 0;
}
header img {
    width: 9rem;
}
/* nav a {
    text-decoration: none;
    border: 1px solid hsl(322, 100%, 66%);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: hsl(322, 100%, 66%);
} */
/** HEADER -END- **/

/** MAIN **/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11rem;
    max-width: 70rem;
    margin: 0 auto;
}
.images img {
    max-width: 20rem;
}
.text h2 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.text p {
    font-size: 1rem;
}
/** CONTAINER ONE **/
.container-one img {
    max-width: 20rem;
    margin: 40px auto;
}
.container-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 20px;
}
.container-one h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
.container-one p {
    font-size: 1rem;
    line-height: 1.5rem;
}
.container-one a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    width: 15rem;
    padding: 15px;
    border-radius: 30px;
    margin: 30px auto;
}
/** CONTAINER ONE -END- **/
/** CONTAINER TWO **/
.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}
.stats {
    display: grid;
    justify-content: center;
}
.stats strong {
    font-size: 4rem;
}
.stats p {
    font-size: 1rem;
    color: gray;
}
/** CONTAINER TWO -END **/
/** CONTAINER THREE **/
.container-three {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 3rem;
}
.container-three .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/** CONTAINER THREE -END- **/
/** CONTAINER FOUR **/
.container-four {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 3rem;
}
.container-four .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/** CONTAINER FOUR -END- **/
/** CONTAINER FIVE **/
.container-five {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 3rem;
}
.container-five .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/** CONTAINER FIVE -END- **/
/** CONTAINER SIX **/
.container-six .end {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.end h2 {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
}
.end a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    width: 15rem;
    padding: 15px;
    border-radius: 30px;
    
}
/** CONTAINER SIX -END- **/

/** MAIN -END- **/

/** FOOTER **/
.logo img {
    width: 11rem;
}
/** NEWSLETTER **/
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newsletter h3 {
    font-size: 1.3rem;
}
.newsletter p {
    font-size: 1rem;
}
label {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#subscribe {
    padding: 15px;
    width: 100%;
    margin: 15px auto;
    grid-column: 1 / 3;
}
#subscribe-btn {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    color: white;
    border-radius: 5px;
    width: 11rem;
    grid-column: 2 / 3;
}
/** NEWSLETTER -END- **/
/** INFORMATION **/
footer {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: white;
    gap: 3rem;
    padding: 30px;
    position: relative;
}
footer::after {
    content: url(../images/bg-footer-top-mobile.svg);
    position: absolute;
    width: 100%;
    top: -7%;
    left: 0%;
    right: 0;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.logo img {
    color: white;
}
.information p {
    font-size: 1rem;
}
.icons {
    display: flex;
    
    gap: 1rem;
}
.fa-brands {
    text-decoration: none;
    color: white;
}
/** INFORMATION -END- **/
/** FOOTER -END- **/